p Hello #{@resource.email}!

p パスワードを変更するためのリンクをリクエストされました。以下のリンクから変更できます。

p = link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token)

p もしあなたがこのメールをリクエストしていないのであれば、無視してください。
p 上記のリンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されません。
